<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - GLOM Authorization</title>
    <link rel="stylesheet" href="/glom.css">
</head>
<body class="dash-bg">

<div class="sidebar">
    <h3>GLOM Authorization</h3>

    <ul>
        <li>المفاتيح</li>
        <li>السورسات</li>
        <li>البانلات</li>
        <li>المنتجات</li>
        <li>سورسات المنتجات</li>
        <li>API</li>
        <li>إعدادات الحساب</li>
        <li>Logout</li>
    </ul>
</div>

<div class="dashboard-area">
    <h2>Welcome to GLOM Authorization</h2>
</div>

</body>
</html>
